body {
  background-size: cover;
  background-color: #000000 !important;
  height: 100%;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s ease-in-out;
  }
}

.imageName {
  height: 25vmin;
  margin: 0px;
  padding: 0px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.iconZoom {
  transition: transform .2s;
}

.iconZoom:hover {
  transform: scale(1.9);
}


h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

label {
  color: white;
  font-size: 2.5rem;
  font-weight: light;
  font-family: 'Courier New', Courier, monospace;
}

.cards {
  display: flex;
  flex-direction: column;
  border: 1px dotted gray;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  background-color: transparent;
  min-width: 15rem;
  max-width: 15rem;
  min-height: 6rem;
  max-height: 6rem;
  transition: transform .2s;
}

.skillText {
  font-size: 2rem;
}

.cards:hover {
  transform: scale(1.2);
}

p {
  font-family: 'Courier New';
  font-size: 1rem;
  font-weight: lighter;
  color: #FFFFF7;
}

.borderBottom {
  border-bottom: 1px dashed gray;
}

.css-10d9dml-MuiTabs-indicator {
  background-color: #FFFFF7 !important;
}
.css-1q2h7u5.Mui-selected {
  color: #FFFFF7 !important;
}
.headZoom {
  transition: transform .2s;
}

.headZoom:hover {
  transform: scale(1.2);
}

.tabsPadding {
  padding: 50px;
}

.personalTab {
  padding-top: 8rem;
}

@media screen and (min-width: 375px) and (max-width:667px) {
  body {
    height: 250vh;
  }

  .padding {
    padding: 5px;
    padding-top: 25px;
    font-size: 12px;
  }

  .tittleHead {
    font-size: 2rem;
  }

  .tittleHeadProf {
    font-size: 1.5rem;
  }

  .spanText {
    font-size: 16px !important;
  }

  .cards {
    margin: 10px;
    padding: 5px;
    min-height: 3.5rem;
    max-height: 3.5rem;
    min-width: 10rem;
    max-width: 10rem;
  }

  .skillText {
    font-size: 1.1rem;
  }

  .tabsPadding {
    padding: 0px;
  }

  .personalTab {
    padding-top: 30rem;
  }

  .socialTab {
    padding-top: 7rem;
  }

  .css-1aquho2-MuiTabs-indicator {
    background-color: #FFFFF7 !important;
  }
}